Demo_ My first AI Agent in n8n.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -80
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "always use this tools for every query, if there's basic info like name, gender and user location in the conversation. set the information within type json with format eg. {\"name\":\"ex\",\"gender\":\"male\",\"location\":\"indonesia\"}.",
        "tableId": "n8n_chat_metadata",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.sessionId }}"
            },
            {
              "fieldId": "basic_info",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `always use this tools for every query, if there's basic info like name, gender and user location in the conversation. set the information within type json with format eg. {\"name\":\"ex\",\"gender\":\"male\",\"location\":\"indonesia\"}.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -208,
        560
      ],
      "id": "499dc874-bf7f-42d4-8521-7b4b2442b0ab",
      "name": "Update basic info",
      "credentials": {
        "supabaseApi": {
          "id": "DQp2nHML55lPH4oR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "715989af-d4c9-4d10-a5a5-a07db07ef384",
              "leftValue": "={{ $json.files[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -80
      ],
      "id": "9bdf4f8e-887f-4d40-bfe9-4c547b69594c",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gnbIVRNDwMm8qsNd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        -272
      ],
      "name": "Call Sub-VectorStore",
      "id": "37f6703b-256e-4d81-85bc-56f58136892b"
    },
    {
      "parameters": {
        "message": "=hello {{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1072,
        -128
      ],
      "id": "df869271-88c6-4bad-aa1f-571d93e6adc8",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oyHmwpwYFB9FvKLq",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        592,
        96
      ],
      "name": "Call Sub-MainAgent",
      "id": "35122530-93a7-4aa5-bd63-a3664c3f746e"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update basic info": {
      "ai_tool": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call Sub-VectorStore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Sub-MainAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sub-MainAgent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a429e0c-baf8-497a-b95a-2e8c3ac6075e",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "a7b791b7da220fb23693c1e4b82f9f8e97f7917c7d3d0049f3e52cb8cb2c26d1"
  },
  "id": "xt79xnPj9m0cLPrM",
  "tags": []
}