REST.json
{
  "name": "REST",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "715989af-d4c9-4d10-a5a5-a07db07ef384",
              "leftValue": "={{ $json.files[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -80
      ],
      "id": "0a8105fe-3608-4482-a5a9-1fe8b0044968",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gnbIVRNDwMm8qsNd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        -272
      ],
      "name": "Call Sub-VectorStore",
      "id": "44b7ee18-83b6-4748-b9cf-51d659df9478"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oyHmwpwYFB9FvKLq",
          "mode": "list",
          "cachedResultName": "Sub-MainAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.body.chatInput }}",
            "sessionId": "={{ $json.body.session_id }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        128
      ],
      "name": "Call Sub-MainAgent",
      "id": "ed05f092-36c3-4aa1-9e85-137af566468c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -160
      ],
      "id": "22cc4ab8-4ee5-48c4-ab14-d3a6db9dfb47",
      "name": "Webhook",
      "webhookId": "a82ec1c2-ab45-498e-a579-65bafd756695"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"AIResponse\": {{ JSON.stringify($json.output.replace(/\\*\\*/g, \"\").replace(/[*_`#>]/g, \"\").trim()) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        752,
        48
      ],
      "id": "611d237b-5437-4020-885c-b3b57818907d",
      "name": "Respond to Webhook",
      "alwaysOutputData": false,
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Call Sub-VectorStore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Sub-MainAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sub-MainAgent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c860e28d-0416-4d23-a49b-0568244dc708",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "a7b791b7da220fb23693c1e4b82f9f8e97f7917c7d3d0049f3e52cb8cb2c26d1"
  },
  "id": "wgKYu6iUB30Y28aP",
  "tags": []
}