Tele.json
{
  "name": "Tele",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "715989af-d4c9-4d10-a5a5-a07db07ef384",
              "leftValue": "={{ $json.files[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -80
      ],
      "id": "965d4a2f-aef6-43f6-8114-5a32cbf34e22",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gnbIVRNDwMm8qsNd",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        -272
      ],
      "name": "Call Sub-VectorStore",
      "id": "f2d903ce-4b18-40f6-a1b0-d81f8180e8ad"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oyHmwpwYFB9FvKLq",
          "mode": "list",
          "cachedResultName": "Sub-MainAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.message.text }}",
            "sessionId": "=\"{{ $json.message.chat.id }}\""
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        128
      ],
      "name": "Call Sub-MainAgent",
      "id": "a0be1937-5abd-4105-9a02-050c34e92185"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -80
      ],
      "id": "f4c8b012-fe98-4689-ba7a-82e3840b2e51",
      "name": "Telegram Trigger",
      "webhookId": "b04f5109-a2ed-45ec-a338-05eea24e3fec",
      "credentials": {
        "telegramApi": {
          "id": "PU4bDsN9bbkjubWJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        96
      ],
      "id": "0a2189f3-091a-4463-9230-937037f815f1",
      "name": "Send a text message",
      "webhookId": "612755d8-02a3-4fdd-9e01-44ada5da2b39",
      "credentials": {
        "telegramApi": {
          "id": "PU4bDsN9bbkjubWJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Call Sub-VectorStore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Sub-MainAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sub-MainAgent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b4b5680-30f2-4d75-8d52-5f82a3ab9750",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "a7b791b7da220fb23693c1e4b82f9f8e97f7917c7d3d0049f3e52cb8cb2c26d1"
  },
  "id": "b1vL5i6JlKsmCTjZ",
  "tags": []
}